:root {
    --bgcolor: #180551;
    --skydrive: rgb(4, 100, 235);
    --weather: rgb(13, 104, 231);
    --internetexplorer: rgb(10, 102, 231);
    --health-and-fitness: rgb(114, 67, 245);
    --calendar: rgb(107, 62, 231);
    --sports: rgb(102, 54, 235);
    --maps: rgb(101, 55, 228);
    --camera: rgb(102, 53, 235);
    --photos: rgb(0, 225, 255);
    --mail: rgb(0, 225, 255);
    --food-and-drink: rgb(0, 225, 255);
    --travel: rgb(0, 225, 255);
    --games: rgb(0, 255, 4);
    --finance: rgb(26, 199, 29);
    --store: rgb(24, 224, 28);
    --music: rgb(250, 71, 0);
    --help-and-tips: rgb(255, 90, 55);
    --people: rgb(255, 0, 68);
    --news: rgb(255, 0, 68);
    --picture: rgb(255, 0, 68);
    --reading-list: rgb(255, 0, 68);
}

body {
    background-color: var(--bgcolor);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}
.header {
    position: relative;
    height: 60px;
    color: #fff;
    padding: 2vw 8vw 0 8vw;
    .start, .user {
        display: inline-block;
        position: relative;
        height: 100px;
    }
    .start {
        font-size: 32px;
    }
    .user {
        display: flex;
        align-items: flex-start;
        float: right;
        font-size: 24px;
        img {
            margin-left: 32px;
            margin-top: -16px;
            width: 64px;
            height: 64px;
            border: 2px solid rgba(255, 255, 255, 0.5);
            border-radius: 64px;
            object-fit: center;
        }
    }
}
.grid-container {
    display: block;
    position: absolute;
    width: 80%;
    height: 80%;
    left: 50%;
    top: 60%;
    overflow-x: scroll;
    transform: translate(-50%, -50%);
    .grid {
        width: 100%;
        height: 100%;
        color: white;
        position: absolute;
        left: 50%;
        top: 50%;
        display: grid;
        grid-template: 
            repeat(8, minmax(calc(100vh/24), calc(100vh/14))) / 
            repeat(16, minmax(calc(100vh/24), calc(100vh/14)));
        grid-gap: 8px;
        transform: translate(-50%, -50%);
    }
}

.tile {
    display: flex;
    position: relative;
    cursor: pointer;
    padding: 8px;
    box-shadow: inset 0px 0px 200px rgba(0, 0, 0, 0.3),
        0px 0px 4px rgba(0, 0, 0, 0.5);
    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .title {
      font-size: 10px;
      align-self: flex-end;
    }
    &:hover {
      box-shadow: inset 0px 0px 200px rgba(255, 255, 255, 0.8);
    }
  }